:root {
--couleur-6: #0D0D0D;
--couleur-5: #393B59;
--couleur-4: #461973;
--couleur-3: #72148C;
--couleur-2: #8F49F2;
--couleur-1: #B477F2;
--couleur-0: #DBD8F2;
}


/*principal*/
body{
    /*font-family:"Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;*/
    font-family: "URW Chancery L", cursive;
    background-image: url("fond/nv4.jpg");
    background-size: cover;
    display: grid;
    place-items: center;
    /*étoiles*/
    background-position-x: center;
}

main{
    position: flex; 
    width: 65%;
    z-index: 2; 
    padding: 20px; 
    flex-direction: column;
    align-items: space-between;
}

.fondviolet{
    background-color: var(--couleur-4);
    margin: 10px; 
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 7px var(--couleur-6);
    border-radius: 15px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 13px;
}


/*titre et paragraphe*/
h1{
    /*font-family: "Brush Script Std", "Brush Script MT", cursive;*/
    font-family: 'Frostbites', sans-serif;
    font-size: 55px; 
    margin: 0px; 
    padding: 10px; 
    font-weight: normal;
    text-align: center;
}

h2{
 font-family: 'Pixelify Sans', sans-serif;
 font-size: 30px;
 font-weight: normal;   
 margin: 5px; 
 padding: 1px;   
 color: var(--couleur-2);
}

/*id*/
#ptitmsg{
    padding: 10px; 
    margin-left: 50px; 
    margin-right: 50px;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
}

#ptitmsg a{
    font-style: none;
}


/*class*/
.entete{
    color: var(--couleur-0);
}

.artiste{
font-family: 'Bhlingglers', sans-serif;
/*font-family: 'Mellodi Roosthm', sans-serif;*/
font-size: 10px;
font-weight: bold;        
margin:0px; 
padding: 1px; 
border-collapse: collapse;
}

.guill{
font-size: 20px;
display: inline;
}

.detaill p{
font-size: 15px;
margin: 2px;
padding : 2px; 
}

@media (max-width: 800px) {
  .detaill p {
font-size: 12px;
margin: 2px;
padding : 2px;
}

}
@media (max-width: 800px) {
#creep{
    font-size: 25px;
}
}

/*autre?*/

pre{
    height: 400px; 
    overflow: scroll; 
    font-size: 15px;
    color: var(--couleur-6);
}

@media (max-width: 800px) {
  pre {
    font-size: 10px;   
  }
}

cite{
font-size: 20px;
display: inline;
color: var(--couleur-1)
}

audio{
    border-radius: 26px;
    border : 2px solid var(--couleur-2); 
    display: block; 
}

details{
font-size: 9px;
background-color: rgb(180,119,242,0.3);
border-radius: 10px;
margin: 8px;
padding-left: 4px;
color: var(--couleur-6);
cursor: pointer;
box-shadow: 1px 1px 3px var(--couleur-6);
}

summary{
    font-size: 9px;
}

/*lecteur audio*/
/*lecteur audio*/

.audioplayer{
    /*from tuto*/
min-width: 300px ;
min-height: 220px;
/*esthetic précédente*/
 background-color: var(--couleur-4);
    margin: 10px; 
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 7px var(--couleur-6);
    border-radius: 15px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 13px;
}

.wrapper i{
cursor: pointer;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--couleur-6);
opacity: 0.8;
margin-bottom: 7px;
}

.top-bar i{
font-size: 20px;
}

.top-bar .spanlecteur{
font-size: 17px;
}

.img-area{
height: 150px; 
    width: 125px;
    border:2px solid var(--couleur-0) ;
    border-bottom: 25px solid var(--couleur-0);
    box-shadow: 1px 5px 12px var(--couleur-6);
    float: left; 
    overflow: hidden;
    margin-top: 3px;
    margin-right: 10px; 
    margin-bottom: 10px;
}

.img-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.song-details{
font-family: 'Pixelify Sans', sans-serif;
font-weight: normal;   
margin-left: 5px;
padding: 1px;   
color: var(--couleur-2);
}

.song-details .name{
font-size: 35px;
}

#plusgrand{
    font-size: 40px;
}

.song-details .artiste{
    font-family: 'Pixelify Sans', sans-serif;
    opacity: 0.7;
    font-size: 26px;
    font-weight: lighter;
}

.play-pause img{
width: 180px;
cursor: pointer;
transition: transform 0.1s ease;
filter: drop-shadow(2px 2px 3px var(--couleur-6));
}

@media (max-width: 800px) {
  .play-pause img {
    width: 140px;      /* La barre occupe toute la largeur disponible */
  }
}

.play-pause img:active{
    transform: scale(0.95);
    filter: brightness(0.8);
}

.progress-area{
    height: 3px;
    width: 97%;
    background-color: var(--couleur-0);
    border-radius: 50px;
    cursor: pointer;
    display: grid;
    margin: 14px;
}

@media (max-width: 800px) {
  .progress-area {
    width: 96%;      /* La barre occupe toute la largeur disponible */
    margin: 0px;    /* Marge verticale réduite */
    height: 4px;      /* Optionnel : légèrement plus haute pour une meilleure visibilité */
  }
}

.progress-area .progress-bar{
   position: relative;
    height: inherit;
    width: 0%;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--couleur-1) 0%, var(--couleur-4));
}

.progress-bar::before{
content: "";
position: absolute;
height: 10px;
width: 10px;
background-color: #0D0D0D;
border-radius: inherit;
top: 50%; 
right: -5px;
transform: translateY(-50%);
background: inherit;
opacity: 0;
transition: opacity 0.2s ease;
z-index: 10;
}

.progress-area:hover .progress-bar::before{
    opacity: 1;
}

/*étoiles tentatives*/
*
{
margin: 0; 
padding: 0; 
box-sizing: border-box;    
}

#etoile{
position: absolute;
top: 0; 
left: 0;
width: 100%;
height: 100wh;
z-index: 1; 
}

span{
    position: absolute;
    top:50%;
    left: 50%;
    width: 4px;
.progress-area:hover .progress-bar i {
  opacity: 1;
}    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 
    0 0 0 8px rgba(255, 255, 255, 0.1), 
    0 0 20px rgba(255, 255, 255, 1); 
    animation: animate 3s linear infinite; 
}

span::before{
    content: ''; 
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    width: 300px; 
    height: 1px; 
    background: linear-gradient(90deg, #fff, transparent); 
}

@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0); 
        opacity: 1; 
    }
    70%
    {
        opacity: 1; 
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px); 
        opacity: 0; 
    }
}

span:nth-child(1)
{
top: 0; 
right: 0; 
left: initial; 
animation-delay: 0; 
animation-duration: 1s; 
}

span:nth-child(2)
{
top: 0; 
right: 80px; 
left: initial;
animation-delay: 0.2s; 
animation-duration: 3s; 
}

span:nth-child(3)
{
top: 80px; 
right: 0px; 
left: initial;
animation-delay: 0.4s; 
animation-duration: 2s; 
}

span:nth-child(4)
{
top: 0px; 
right: 180px; 
left: initial;
animation-delay: 0.6s; 
animation-duration: 1.5s; 
}

span:nth-child(5)
{
top: 0px; 
right: 400px; 
left: initial;
animation-delay: 0.8s; 
animation-duration: 2.5s; 
}

span:nth-child(6)
{
top: 0px; 
right: 600px; 
left: initial;
animation-delay: 1s; 
animation-duration: 3s; 
}

span:nth-child(7)
{
top: 300px; 
right: 0px; 
left: initial;
animation-delay: 1.2s; 
animation-duration: 1.75s; 
}

span:nth-child(8)
{
top: 0px; 
right: 700px; 
left: initial;
animation-delay: 1.4s; 
animation-duration: 1.25s; 
}

span:nth-child(9)
{
top: 0px; 
right: 1000px; 
left: initial;
animation-delay: 0.75s; 
animation-duration: 2.25s; 
}

span:nth-child(10)
{
top: 0px; 
right: 450px; 
left: initial;
animation-delay: 2.75s; 
animation-duration: 2.25s; 
}

/*mes tentatives d'étoiles sans tuto*/    

span:nth-child(11)
{
bottom: 500px; 
right: 450px; 
left: initial;
animation-delay: 2s; 
animation-duration: 2.5s; 
}

span:nth-child(12)
{
bottom: 450px; 
right: 1000px; 
left: initial;
animation-delay: 1.5s; 
animation-duration: 1.75s; 
}

span:nth-child(13)
{
bottom: 600px; 
right: 950px; 
left: initial;
animation-delay: 2.75s; 
animation-duration: 1.5s; 
}

span:nth-child(14)
{
bottom: 500px; 
right: 10px; 
left: initial;
animation-delay: 2.25s; 
animation-duration: 3s; 
}

span:nth-child(15)
{
bottom: 740px; 
right: 1px; 
left: initial;
animation-delay: 1s; 
animation-duration: 1.75s; 
}

span:nth-child(16)
{
bottom: 10px; 
right: 300px; 
left: initial;
animation-delay: 2.35s; 
animation-duration: 2.10s; 
}